@import "./_reset.less";
@import "./_var.less";
body, .box::before{
  background: url(../image/bg.jpg) 0 / cover fixed;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.box {
  text-align: center;
  color: #fff;
  position: absolute;
  width: 500px;
  height: 400px;
  background: rgba(255, 255, 255, 0.3);
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
  border-radius: 8px;
  background: hsla(0,0%,100%,.3);
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.box::before { 
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(10px);
  margin: -20px;
  z-index: -1;
}
.box {
  .desc {
    font-size: 12px;
    position: absolute;
    bottom: 90px;
    opacity: 0.6;
    cursor: pointer;
    letter-spacing: 1px;
  }
}

@import "./menu.less";
@import "./attention.less";
@import "./list.less";